@model aspapp.Models.Traveler

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" method="post">
			<div class="form-group">
				<label asp-for="Firstname" class="control-label"></label>
				<label asp-for="Firstname" class="form-control"/>


			</div>
		</form>
	</div>
</div>