@* @model aspapp.Models.Guide *@
@* @{ *@
@*     ViewData["Title"] = "Create"; *@
@* } *@

@* <div class="row"> *@
@*     <div class="col-md-8"> *@
@*         <form asp-action="Create"> *@
@*             @Html.AntiForgeryToken() *@

@*             <div class="form-group"> *@
@*                 <label asp-for="Firstname" class="control-label"></label> *@
@*                 <input asp-for="Firstname" class="form-control" /> *@
@*             </div> *@

@*             <!-- Pozostałe pola --> *@

@*             <div class="form-group"> *@
@*                 <label asp-for="Title" class="control-label"></label> *@
@*                 <select asp-for="Title" class="form-control" asp-items="Html.GetEnumSelectList<TitleEnum>()"> *@
@*                     <option>Select title ...</option> *@
@*                 </select> *@
@*             </div> *@

@*             <div class="form-group"> *@
@*                 <input type="submit" value="Create" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
