@{
    ViewData["Title"] = "Search";
}

<form action="/search" method="GET">
    <!-- poprawione 'meth0d' na 'method' -->
    <input type="text" name="query" placeholder="Search for articles"> <!-- poprawione '5earch' na 'Search' -->
    <button type="submit">Search</button> <!-- poprawione 'type:"submit"' na 'type="submit"' -->
</form>
