@model aspapp.Models.Traveler

@{
    ViewData["Title"] = "Usuń podróżnika";
}

<h2>Usuń podróżnika</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteTraveler" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /> <!-- Ukryte pole, które zawiera id podróżnika -->

            <div class="form-group">
                <label asp-for="Firstname" class="control-label">Imię:</label>
                <input asp-for="Firstname" class="form-control" readonly /> <!-- Tylko do odczytu -->
            </div>

            <div class="form-group">
                <label asp-for="Lastname" class="control-label">Nazwisko:</label>
                <input asp-for="Lastname" class="form-control" readonly /> <!-- Tylko do odczytu -->
            </div>

            <div class="form-group">
                <input type="submit" value="Usuń" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
