@model IEnumerable<aspapp.Models.Guide>

@{
    ViewData["Title"] = "ListaPrzewodników";
}

<h2>Lista Przewodników</h2>

<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Tytuł</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guide in Model)
        {
            <tr>
                <td>@guide.Firstname</td>
                <td>@guide.Lastname</td>
                <td>@guide.Email</td>
                <td>@guide.Title.ToString()</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateGuide" class="btn btn-primary">Dodaj nowego przewodnika</a>
